@font-face {
	font-family: bgrove;
	src:  url(../font/bloominggrove/bgrove.otf);
}

body {
	font-family: bgrove;
}

/*
 * Logo
*/

.brand-logo {
	width: 100%;
	z-index: 4;
	position: fixed;
	text-align: center;
}

.brand-logo img {
	width: 250px;
}

/*
 * Menu
*/

#menu {
	position: fixed;
	z-index: 3;
	padding: 0;
	width: 200px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#menu li {
	padding: 10px 20px;
	width: 180px;
	background: #0000008c;
	border-radius: 0 10px 10px 0;
}

#menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

#menu li.active {
	background: #000000bf;
}

.home {
	background: url(../img/i_dont_even_know.jpg);
	background-position: center;
	background-size: cover;
}

.home h1 {
	text-align: center;
	color: #fff;
	font-size: 100px;
	text-transform: uppercase;
}

.home h2 {
	text-align: center;
	color: #fff;
	font-size: 25px;
}

.story {
}

.container {
	display: flex;
}

.flex-full{
	flex: 1;
	height: 100vh;
}

.story-picture {
	background: url(../img/searching.jpg);
	background-position: center;
	background-size: cover;
}

.story-text {
	background: #485563bf;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #29323cbf, #485563bf);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #29323cbf, #485563df); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.story-text h1 {
	text-align: center;
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
}

.story-text p {
	text-align: center;
	color: #fff;
	padding: 0 60px;
}

.thoughts {
/*	background: url(../img/working.jpg); */	
	background-position: center;
	background-size: cover; 
}

.thoughts-picture {
	display: flex;
	align-items: center;
	justify-content: center;
}

.thoughts-picture img{
	width: 50vw;
	height: 100vh;
}

.thoughts-text {
	background: #485563;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #485563, #29323c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #485563, #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.thoughts-text h1 {
	text-align: center;
	text-transform: uppercase;
}

.thought-process-title {
	padding: 0 20px;
}

.thought-process-text {
	padding: 0 20px;
}

.let-me-know {
	background: url(../img/server_room.jpg);
	background-position: center;
	background-size: cover;
	color:  #fff;
	text-align: center;
}

.let-me-know form {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 500px;
}

.let-me-know h1 {
	text-align: center;
	text-transform: uppercase;
}

.let-me-know form input,textarea {
	font-family: bgrove;
	font-size: 24px;
	border-radius: 15px;
	padding: 20px;
	margin-bottom: 5px;
	outline: none;
	border: none;
	color: #fff;
	background-color: #000000ab;
}

.let-me-know form button {
	padding: 10px;
	border-radius: 10px;
	font-family: bgrove;
	font-size: 24px;
}